/*Cabeçalho*/
.cabeca{
    background-color: rgb(28, 28, 92);
    text-align: center;
    padding: 15px;
}
.logo_inicio{
    border-radius: 50%;
  
 
}
.links a{
    text-decoration: none; 
    padding: 10px 20px; 
    background-color: white ; 
    color: black;
    border-radius: 5px; 
    margin: 15px;
}

/*Corpo da página*/
body{
    margin: 0;
}

.conteiner{
    text-align: center;
}

.divisao{
    background-color: rgb(28, 29, 92);
    color: #ffffff;
    text-align: center;
    padding: 1em;

}
/*Parte dos cards*/
#card{
    padding: 2em
}

/*Contato*/
.contato{
    background-color: rgb(28, 29, 92);
    color: #ffffff;
    text-align: center;
    padding: 2em;
}
.Enviar_button{
   text-align: left;
}

.btnbot {
    margin-right: 100%;
}

/*Rodapé*/
footer {
    text-align: center;
    background-color: rgb(28, 28, 92);
    color: #ffffff;
    padding-top: 0 !important;
}



